@import url("https://use.typekit.net/pyj3djg.css");
@import "tailwindcss";

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #E4F0E0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "MyFont", "sans-serif";
}

h1 {
  font-family: "museo", "serif";
}

@font-face {
  font-family: "MyFont";
  src: url("./assets/VIC-fonts/VIC-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MyFont";
  src: url("./assets/VIC-fonts/VIC-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "MyFont";
  src: url("./assets/VIC-fonts/VIC-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}